<section class="feedbacks mb-lg-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="feedbacks__title col-12 d-flex justify-content-center mb-3">
          <p>Відгуки</p>
        </div>
        <div class="feedbacks__slider d-lg-flex">
          <div class="col-lg-6 p-2 p-lg-3">
            <div class="feedbacks__slider-card d-flex p-3 p-lg-4 gap-3">
              <img src="../img/man.svg" alt="human" />
              <div class="feedbacks__slider-card-description">
                <div
                  class="feedbacks__slider-card-description-stars d-flex gap-2"
                >
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span><img src="img/Star-empty.svg" alt="star" /></span>
                </div>
                <p class="feedbacks__slider-card-description-name">
                  Анастасія Кіт
                </p>
                <p class="feedbacks__slider-card-description-text">
                  Lorem ipsum dolor sit amet consec.lectus rutrum facilisis eget
                  ultrices tortor. Amet nunc massa augue in.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-2 p-lg-3">
            <div class="feedbacks__slider-card d-flex p-3 p-lg-4 gap-3">
              <img src="../img/man2.svg" alt="human" />
              <div class="feedbacks__slider-card-description">
                <div
                  class="feedbacks__slider-card-description-stars d-flex gap-2"
                >
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span><img src="img/Star-empty.svg" alt="star" /></span>
                </div>
                <p class="feedbacks__slider-card-description-name">
                  Анастасія Кіт
                </p>
                <p class="feedbacks__slider-card-description-text">
                  Lorem ipsum dolor sit amet consec.lectus rutrum facilisis eget
                  ultrices tortor. Amet nunc massa augue in.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-2 p-lg-3">
            <div class="feedbacks__slider-card d-flex p-3 p-lg-4 gap-3">
              <img src="../img/man.svg" alt="human" />
              <div class="feedbacks__slider-card-description">
                <div
                  class="feedbacks__slider-card-description-stars d-flex gap-2"
                >
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span><img src="img/Star-empty.svg" alt="star" /></span>
                </div>
                <p class="feedbacks__slider-card-description-name">
                  Анастасія Кіт
                </p>
                <p class="feedbacks__slider-card-description-text">
                  Lorem ipsum dolor sit amet consec.lectus rutrum facilisis eget
                  ultrices tortor. Amet nunc massa augue in.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-2 p-lg-3">
            <div class="feedbacks__slider-card d-flex p-3 p-lg-4 gap-3">
              <img src="../img/man2.svg" alt="human" />
              <div class="feedbacks__slider-card-description">
                <div
                  class="feedbacks__slider-card-description-stars d-flex gap-2"
                >
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span
                    ><img class="active" src="img/Star-empty.svg" alt="star"
                  /></span>
                  <span><img src="img/Star-empty.svg" alt="star" /></span>
                </div>
                <p class="feedbacks__slider-card-description-name">
                  Анастасія Кіт
                </p>
                <p class="feedbacks__slider-card-description-text">
                  Lorem ipsum dolor sit amet consec.lectus rutrum facilisis eget
                  ultrices tortor. Amet nunc massa augue in.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
