<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="footer__main-img d-none d-md-block" src="./img/footer/main-footer.png" alt="main-footer">
                <img class="footer__main-small d-block d-md-none" src="./img/footer/main-footer-small.png"
                    alt="footer-small">
                <img class="footer__behind-img d-none d-md-block" src="./img/footer/behind-footer.png" alt="behind-footer">
                <img class="footer__girl-img" src="./img/footer/girl-footer.svg" alt="girl-footer">
                <div class="footer__title">
                    <h2>Виникли запитання?</h2>
                </div>
                <div class="footer__forms">
                    <form action="">
                        <input class="footer__input" placeholder="Телефон" type="tel">
                        <button class="footer__btn" type="submit">Надіслати</button>
                    </form>
                </div>
                <div class="footer__menu">
                    <ul class="footer__contacts">
                        <li style="white-space: nowrap;" class="footer__item">
                            <a href="#">Про нас</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Викладачі</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Навчання</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Відгуки</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Контакти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>