<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <img class="header__main-img d-none d-md-block" src="img/main-header.png" alt="">
                <img class="header__main-img d-block d-md-none" src="img/header-menu-tel-icon.png" alt="">
                <img class="header__behind-img" src="img/behind-header.png" alt="">
                <div class="col-3">
                    <div class="header__logo">
                        <a href="#">
                            <img src="./img/logo-header.svg" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <nav class="header__menu justify-content-center">
                        <div class="header__phone d-flex d-md-none">
                            <a href="tel:0930051266" class="menu__tel">
                                <img src="./img/menu-tel-icon.svg" alt="">
                                +380930051266
                            </a>
                        </div>
                        <ul id="burger-menu" class="menu__list d-flex">
                            <li class="menu">
                                <a href="#" class="menu__link">Про нас</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Викладачі</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Навчання</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Відгуки</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Контакти</a>
                            </li>
                            <!--Тут будуть іконки-->
                            <div class="menu-row mt-5">
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/facebook-icon.svg" alt="facebook-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/telegram-icon.svg" alt="telegram-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/twitter-icon.svg" alt="twitter-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/insta-icon.svg" alt="insta-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/phone-icon.svg" alt="phone-icon"></a>
                                </li>
                            </div>
                        </ul>
                        <div id="burger" class="header__menu__burger d-md-none">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>