<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="services__title">Вартість навчання</div>
            </div>
            <div class="services__content">
                <div class="row">
                    <div class="col-md-12 col-lg-6 m-0 p-0">
                        <div class="services__content_column">
                            <div class="column">
                                <div class="column__title">Заняття в групі</div>
                                <div class="column__information">
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Заняття в групі до 6 осіб</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Тривалість заняття 1 год</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Діти 6 р. - 14 р.</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Дорослі та діти від 15р.</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Native speaker</p>
                                    </div>
                                </div>
                            </div>
                            <div class="price">
                                <p>135 - 170 ₴</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 m-0 p-0">
                        <div class="services__content_column">
                            <div class="column">
                                <div class="column__title">Індивідуаоьні заняття</div>
                                <div class="column__information">
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Діти 6 р. - 14 р.</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Тривалість заняття 1 год</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Дорослі та діти від 15р.</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Власна програма навчання</p>
                                    </div>
                                    <div class="column__information_items">
                                        <img src="../img/coolicon.svg" alt="">
                                        <p>Native speaker</p>
                                    </div>
                                </div>
                            </div>
                            <div class="price">
                                <p>200 - 250 ₴</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>