<section class="template">
    <div class="teacher">
        <div>
            <div class="slide">
                <img src="../img/one-sl.png" alt="">
                <div class="slide__information">
                    <div class="slide__information_name">Ірина Кісик</div>
                    <div class="slide__information_years">32 роки</div>
                    <div class="slide__information_text">Lorem ipsum dolor sit amet consectetur. Id malesuada
                        praesent et
                        integer
                        orci ultrices risus. Nunc suscipit vestibulum massa massa. </div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <img src="../img/kit.png" alt="">
                <div class="slide__information">
                    <div class="slide__information_name">Анастасія Кіт</div>
                    <div class="slide__information_years">32 роки</div>
                    <div class="slide__information_text">Lorem ipsum dolor sit amet consectetur. Id malesuada
                        praesent et
                        integer
                        orci ultrices risus. Nunc suscipit vestibulum massa massa. </div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <img src="../img/one-sl.png" alt="">
                <div class="slide__information">
                    <div class="slide__information_name">Наталія Лялюк</div>
                    <div class="slide__information_years">32 роки</div>
                    <div class="slide__information_text">Lorem ipsum dolor sit amet consectetur. Id malesuada
                        praesent et
                        integer
                        orci ultrices risus. Nunc suscipit vestibulum massa massa. </div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <img src="../img/one-sl.png" alt="">
                <div class="slide__information">
                    <div class="slide__information_name">Ірина Кісик</div>
                    <div class="slide__information_years">32 роки</div>
                    <div class="slide__information_text">Lorem ipsum dolor sit amet consectetur. Id malesuada
                        praesent et
                        integer
                        orci ultrices risus. Nunc suscipit vestibulum massa massa. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background d-flex justify-content-center">
        <img class="form__wave" src="../img/Wave-green.svg" alt="wave" />
        <img class="form__wave none  d-none" src="../img/Wave-green-mobile.svg" alt="wave" />
        <div class="background__text"> Розмовляй зі <p>світом вільно !</p>
        </div>
    </div>
</section>