.services {
    margin-top: 100px;
    cursor: pointer;
    overflow: hidden;
    @media screen and (max-width:992px) {
        margin-top: 0px;
        
    }
    @media screen and (max-width:480px) {
        margin-top: -100px;
        
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.035em;
        color: #033D20;
        @media screen and (max-width:480px) {
          font-size: 30px;
            
        }
    }
    &__content{
        margin-top: 64px;
        @media screen and (max-width:480px) {
            margin-top: 40px;
            
        }
        &_column{
            padding: 0 25px;
            @media screen and (max-width:992px) {
                margin-bottom: 50px;  
            }
            @media screen and (max-width:540px) {
                padding: 0;
                margin-bottom: 50px;
                
            }
        }
    }
    .column {
        background: #033D20;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
        border-radius: 20px 20px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        @media screen and (max-width:540px) {
           border-radius: 0; 
        }
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: 0.035em;
            color: #FFDDB6;
            padding: 30px 0;
            @media screen and (max-width:480px) {
              font-size: 22px;
                
            }
        }

        &__information {
            &_items {
                display: flex;
                margin-bottom: 20px;

                img {
                    margin-right: 15px;
                    @media screen and (max-width:480px) {
                       width: 20px;
                       height: 20px;
                        
                    }
                }

                p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.035em;
                    color: #FFFFFF;
                    @media screen and (max-width:480px) {
                     font-size: 18px;
                        
                    }
                }
            }
        }
    }

    .price {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        background: rgba(255, 253, 248, 0.8);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15), inset 0px 4px 30px rgba(255, 255, 255, 0.54);
        backdrop-filter: blur(23px);
        border-radius: 0px 0px 20px 20px;
        @media screen and (max-width:540px) {
          border-radius: 0; 
        }
        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 1.2;
            letter-spacing: 0.035em;
            color: #033D20;
            @media screen and (max-width:480px) {
               font-size: 30px;
                
            }
        }
    }
}